<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <p>
      My name is Kaushik. I'm currently working as a Software Engineer at LinkedIn. I'm passionate about technology and building products and I'm happy to be in the right place. I love to learn, whether it be from books or people, and constantly challenge myself and others to be better.
    </p>  
    <p>
      My hobbies include running, skiing and playing racket sports. I'm an avid Federer fan and I also like to travel a lot.
    </p>
    <p>
      In this blog, I intend to share code, my learnings and also things I'd like to explore. If you find anything interesting, feel free to contact me (links at the bottom of this page).
    </p>  
  </div>
</div>
