<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <h3 class="mb1">About me</h3>
    <p>
      My name is Kaushik Rangadurai and currently I'm working as a Software Engineer at LinkedIn. I'm passionate about technology and building products and I'm happy to be living in the right place - Silicon Valley.
    </p>  
    <p>
      My hobbies include running, skiing, playing sports (Ping Pong, Badminton, Racquetball and Tennis), watching sports (avid Federer fan) and exploring various places in this country.
    </p>
    <p>
      If you find anything interesting, feel free to contact me (links at the bottom of this page).
    </p>  
  </div>
</div>
