<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <p>
      My name is Kaushik. I'm currently working as a Software Engineer at LinkedIn. I'm passionate about technology and building products and I'm happy to be living in the right place.
    </p>  
    <p>
      My hobbies include running, skiing, playing sports (Ping Pong, Badminton, Racquetball and Tennis). I'm an avid Federer fan and I also like to travel a lot.
    </p>
    <p>
      In this blog, I intend to share some code, my learnings and also things I'd like to explore. If you find anything interesting, feel free to contact me (links at the bottom of this page).
    </p>  
  </div>
</div>
